.Card-Contador{
    background-color: rgba(65, 62, 60, 0.048);
    max-width: 180px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-style:italic;
    min-height: 100px;
    
}

.Card-boton{
    max-width: 180px;
    background-color: rgba(65, 62, 60, 0.048);
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-style:italic;
    font-size: 19px;
    cursor: pointer;
}

.Text-contador{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.Text-titulo-boton{
    margin-top: -27px;
    margin-left: 40px;
    cursor: pointer;
}

.Text-titulo{
    text-align: center;
    margin: auto;
}
.botonAgregar{
    margin: auto;
    text-align: right;
}